  <aside class="bg-dark">
      <div class="container text-center">
          <div class="call-to-action">
              <h2>Support us by buying your GloBaL Coin (GBL) Tokens now!</h2>
              <a href="#" class="btn btn-default btn-xl wow tada">Buy Now!</a>
          </div>
      </div>
  </aside>
