<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">GloBaL Coin (GBL) a Cryptocurrency for the Future of GloBaL Commerce!</h2>
                <hr class="light">
                <p class="text-faded">GloBaL Coin (GBL) is a secure, stable value and scalable cryptocurrency. It is the ideal cryptocurrency for retail because transactions are processed quickly. It is the best option for peer-to-peer micro-transaction giving because of the fixed transaction fee!</p>
                <!--<a href="https://gitlab.com/jekyll-themes/creative/" class="btn btn-default btn-xl">Fork Me!</a>-->
            </div>
        </div>
    </div>
</section>
