<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1>GloBaL Coin (GBL)</h1>
            <h2>The Future of GloBaL Commerce</h2>
            <hr>
            <p>GloBaL Coin (GBL) is a secure, stable value and scalable cryptocurrency for the Future of GloBaL Commerce.</p>
            <!--<a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>-->
        </div>
    </div>
</header>
