<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">GloBaL You</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="material-icons md-48 wow bounceIn text-primary">extension</i>
                    <h3>Works with Your Life</h3>
                    <p class="text-muted">Pay for items easily with your smartphone.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Ready to Go</h3>
                    <p class="text-muted">Install our app and you can pay at hundreds of locations instantly!</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="material-icons md-48 wow bounceIn text-primary">hourglass_empty</i>
                    <!--<i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>-->
                    <h3>Fast transactions</h3>
                    <p class="text-muted">You can pay and send micro-transactions instantly virtually no fees.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Made with Love</h3>
                    <p class="text-muted">GloBaL Coin (GBL) is made with You in mind!</p>
                </div>
            </div>
        </div>
    </div>
</section>
